@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
/*Html font-size = 16 px*/
/* 1 REM = 16px */
html{
  font-size: 62,5%;
}
* {
  font-family: DM Sans;
  cursor: pointer;
}
.tag,.linkPhotographer,.identite,img,video,.tag-photographe,button,.sort li,#close-slider,.arrow,.scroll {
  cursor: pointer;
}
.slider-content img,.slider-content video {
  cursor: default;
}
#photoProfil img {
  cursor: default
}
input,textarea {
  cursor: auto;
}
.container {
  max-width: 1500px;
  margin: auto;
}
#logo img {
  width: 200px;
  margin: 1rem 0 0 0;
}
/*FishEye:page d'accueil*/
#header {
  display: flex;
  justify-content: space-around;
  margin: auto 1rem auto 5rem;
  padding-bottom: 5rem;
}
h1 {
  color: #901c1c;
  font-weight: 400;
  font-size: 36px;
  margin: 1rem 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-weight: 500;
  font-size: 12px;
  padding: 2rem 0 0 0;
  width: auto;
}
nav a {
  height: 1rem;
  padding: 0 0.2rem;
  margin: 0 0.3rem;
  color: #901c1c;
  font-size: 12px;
  border-radius: 11px;
  text-decoration: none;
  border: 0.5px solid #c4c4c4;
}
.accueil {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main a {
  margin-bottom: 4%;
  text-decoration: none;
  width: 32%;
}
.photoIdentite {
  text-align: center;
}
.identite {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.lieu,.tagline,.prix,.tags {
  font-size: 0.8em;
  text-align: center;
}
.lieu {
  color: #901c1c;
  font-size: 13px;
  font-weight: 400;
}
.tagline {
  color: black;
  font-size: 0.8rem;
  font-weight: 400;
}
.prix {
  color: #757575;
  font-size: 0.7rem;
  font-weight: 400;
}
main img {
  width: 14rem;
  height: 14rem;
  object-fit: cover;
  border-radius: 14rem;
}
.tags {
  display: flex;
  justify-content: center;
}
.tag:hover {
  color: white;
  background-color: #901c1c;
  transition: 1s;
}
.tag:focus {
  background-color: #d3573c;
  color: white;
}
.tag-actif {
  background-color: #901c1c;
  color: white;
}

/*Fiches par photographe; profil*/
#mainFiche {
  margin-bottom: 5rem;
}
.profil {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4rem 5rem 3rem 5rem;
  background-color: rgba(243, 244, 246, 0.5);
  padding: 2rem;
  border-radius: 5px;
}
.contactButton {
  height: 1rem;
  border: none;
  margin-top: 1.8rem;
  margin-right: 1rem;
  padding: 1.5rem 1rem;
  line-height: 0.2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #901c1c;
  border-radius: 5px;
}
.contactButton:hover,.contactButton:focus {
  background-color: #db8876;
  color: black;
}
.textProfil {
  display: flex;
  flex-direction: column;
}
#nameProfil h1 {
  font-size: 3rem;
  color: #d3573c;
  margin: 1rem 0;
}
#locationProfil h2 {
  color: #901c1c;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
#headerFiche {
  margin-left: 5rem;
}
.tag-photographe {
  margin: 0 0.2rem;
  color: #901c1c;
  font-size: 12px;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
}
.tag-photographe:hover,.tag-photographe:focus {
  background-color: #db8876;
  color: white;
}
/*Fiches par photographe; medias*/
#medias figure {
  width: 21rem;
  height: 21rem;
  margin: 2rem;
  padding: 0;
  background-color: black;
  border-radius: 5px;
}
#medias figcaption {
  font-size: 18px;
  color: #901c1c;
  font-weight: 400;
  background-color: white;
  padding: 0.5rem 0;
  margin-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
figcaption i {
  color: #db8876;
}
.heart {
  color:#901c1c;
}
.mediaTitle {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 400;
}
#medias img {
  width: 21rem;
  height: 21rem;
  object-fit: cover;
  border-radius: 5px;
}
#medias img:hover,
#medias img:focus,
#medias video:hover,
#medias video:focus {
  border: solid 4px #525252;
}
video {
  width: 21rem;
  height: 21rem;
  padding: 0;
  background-color:#525252;
}
#medias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
}
/*Scroll page photographe*/
.scrollProfile {
  display: flex;
  color: black;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  position: fixed;
  bottom: 1%;
  right: 2%;
  background-color: #db8876;
  border-radius: 5px;
}
#scrollPrice {
  margin-left: 2rem;
}
#scrollPrice:hover,#scrollPrice:focus {
  transform: scale(1);
    box-shadow: 0 0 3px 2px #F2F2F2;
}
.scroll {
  position: fixed;
  display: none;
  background-color: #db8876;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  top: 2%;
  left: 45%;
  text-decoration: none;
  color: black;
  font-weight: 600;
}
/*Fiches par photographe: Formulaire de contact*/
.fiche {
  position: relative;
}
.bground {
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  z-index: 9;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.form {
  position: absolute;
  z-index: 1;
  overflow: auto;
  top: 5%;
  width: 50%;
  max-width: 1000px;
  background-color: #db8876;
  padding: 2rem;
  margin-left: 22%;
  border-radius: 5px;
}
.form a {
  text-decoration: none;
}
#form-title,#form-title-name {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 0rem;
  text-align: left;
  padding: 0;
  margin: 0;
}
#form-title-name {
  margin-bottom: 1.5rem;
}
label {
  font-size: 2rem;
  display: inline-block;
  margin-bottom: 11px;
}
.text-control {
  margin: 0;
  width: 100%;
  border-radius: 5px;
  font-size: 2rem;
  height: 48px;
  padding: 8px;
}
.erreur {
  font-size: 1rem;
  background-color: honeydew;
  color: #e60000;
}
input {
  border: none;
  border-radius: 5px;
}
.erreur-input {
  margin: 0;
  padding: 8px;
  width: 100%;
  height: 48px;
  border: 0.8px solid #e60000;
  border-radius: 8px;
  font-size: 20px;
}
#message {
  min-height: 10rem;
}
#close {
  width: 40px;
  height: 40px;
  padding: 0%;
  margin: 0%;
  cursor: pointer;
  background-color: #db8876;
  border: none;
  position: absolute;
  right: 15px;
  top: 15px;
}
#close:hover,#close:focus {
  background-color: #901c1c;
}
#close img {
  width: 40px;
}
.btn-submit {
  background: #901c1c;
  color: #fff;
  display: block;
  margin: 2rem 0;
  border-radius: 7px;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: 600;
  width: 6.5rem;
  cursor: pointer;
}
#btn-envoi:hover,#btn-envoi:focus {
  background: #901c1c;
  color: black;
  border: solid 1.5px #901c1c;
}
.btn-submit_off {
  background: lightgrey;
  cursor: not-allowed;
}

/*FICHES PAR PHOTOGRAPHE* bouton tri*/
.sort {
  margin-left: 3.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}
#selected-filter {
  list-style: none;
}
#sort-list {
  padding: 1rem 0;
  text-align: left;
}
#sort-list li {
  margin-left: -2.5rem;
  padding: 0.5rem 0;
}
.popularity-btn {
  width: 11rem;
  color: white;
  left: 12rem;
  top: 22.5rem;
  padding: 1rem 0 1rem 1rem;
  font-weight: 900;
  font-size: 1.3rem;
  background-color: #901c1c;
  border-style: none;
  border-radius: 5px;
  min-height: 2rem;
  position: absolute;  
}
.popularity-btn-opened {
  z-index: 9;
  text-align: left;
  display: none;
}
.popularity-btn-opened ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sort-by-date,.sort-by-title {
  border-top: solid 1px white;
}
#text-choice {
  display: flex;
  justify-content: space-between;
}
#popularity-btn {
  display: flex;
}
.fa-chevron-down {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}
.fa-chevron-up {
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  color: white;
}
.sort-list_closed nav {
  padding: 0;
}
.sort-list_closed:hover,
.sort-list_closed:focus {
  background-color: #db8876;
  color: black;
}
.sort-by button {
  background-color: #901c1c;
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
}
.sort-by button:hover,.sort-by button:focus {
  background-color: #db8876;
  color: black;
}
/*Fiches par photographe; diaporama, slider*/
#slider {
  background-color:white;
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#slider-all {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  max-height: 98%;
}
.slider h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}
.arrow img,#close-slider img {
  width: 4rem;
}
#next {
  margin-left: -3.5rem;
  margin-bottom: 4rem;
}
#previous {
  margin-bottom: 4rem;
}
#close-slider {
  margin-left: -0.5rem;
  margin-top: 2rem;
  height: 4rem;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal;
}
.close-slider {
  display: flex;
  flex-direction: row;
}
.slider-content {
  padding: 0 30px;
  border-radius: 8px;
  color: #901c1c;
  font-size: 2rem;
  font-weight: 600;
}
.slider-content figure {
  width: 100%;
  padding: 0;
  margin: 2rem 0;
}
.slider-content img {
  max-width: 80vw;
  height: 85vh;
  object-fit: cover;
}
.slider-content video {
  width: auto;
  height: 30rem;
}
#message-nav {
  display: flex;
  flex-direction: row;
}
#message-nav-txt {
  position: absolute;
  left: 35%;
  top: 1%;
  width: 28rem;
  color: #901c1c;
  font-size: 0.8rem;
  display: none;
}
/*************************************************************smatphone only***************************************************************/
@media screen and (max-width: 766px) {
  #logo img {
    width: 150px;
    padding-top: 20px;
  }
  #header {
    display: flex;
    flex-wrap: wrap;
   
    margin: auto;
    padding-bottom: 2rem;
  }
  h1 {
    padding-top: 1.5rem;
    font-size: 1.2rem;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto 0.8rem;
  }
  nav span {
    margin: 0.2rem 0.5rem;
  }
  header :nth-child(2) {
    order: 1;
  }
  main {
    display: block;
  }
  main a {
    width: 20rem;
    margin: 2rem auto;
  }
  .photoIdentite {
    width: 12rem;
    margin: auto;
    text-align: center;
  }
  h2 {
    width: auto;
    text-align: center;
  }
  .scroll {
    left: 35%;
  }
  #mainFiche {
    margin-bottom: 2rem;
  }
  #headerFiche {
    margin-left: 0.5rem;
  }
  .profil {
    margin: 2rem 0 1rem 0;
    padding: 1rem;
  }
  .contactButton {
    font-size: 1.2rem;
    line-height: 0.1rem;
    position: fixed;
    left: 25%;
    bottom: 1rem;
  }
  #photoProfil {
    margin: 1rem 0 0 -2.2rem;
  }
  #photoProfil img {
    width: 8rem;
    height: 8rem;
  }
  #nameProfil h1 {
    text-align: left;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
  }
  #locationProfil h2 {
    margin: 0;
    text-align: left;
  }
  .scrollProfile {
    display: none;
  }
  #taglineProfil {
    font-size: 0.9rem;
  }
  #tags a {
    margin: 0.3rem 0.2rem;
  }
  /*formulaire*/
  .form {
    position: fixed;
    z-index: 1;
    left: 0%;
    top: 7%;
    width: 82%;
    max-width: 1000px;
    overflow: auto;
    background-color: #db8876;
    padding-top: 0;
    margin: 0;
  }
  label {
    font-size: 1.8rem;
    display: inline-block;
    margin-bottom: 11px;
  }
  .btn-submit {
    padding: 0.5rem 3rem;
    margin-left: 20%;
  }
  .text-control {
    margin: 0;
    padding: 1px;
    width: 95%;
    border-radius: 8px;
    font-size: 2rem;
    height: 55px;
  }
  .sort {
    display: none;
  }
  /*slider*/
  #slider {
    width: 100%;
  }
  #slider-all {
    width: 100%;
  }
  .arrow img,
  #close-slider img {
    width: 2rem;
  }
  .close-slider {
    width: 90%;
  }
  .slider-content {
    width: 90%;
    padding: 0;
  }
  .slider-content figure {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .slider-content img {
    width: 100%;
    height: auto;
  }
  .slider-content video {
    width: 100%;
    height: auto;
    padding-top: 1rem;
  }
  #next {
    margin-left: -40px;
  }
  #close-slider {
    margin-top: -0.2rem;
    margin-left: 0.1rem;
  }
  #message-nav-txt {
    width: 0rem;
    height: 0rem;
    overflow: hidden;
  }
}
/* Défilement */
.fab-container{
  position:fixed;
  bottom:50px;
  right:50px;
  cursor:pointer;
  z-index: 1;
  }

  .iconbutton{
    /*
    width:50px;
    height:50px;
    border-radius: 100%;
    background: #000000;
    box-shadow: 10px 10px 5px #aaaaaa;
    */
    }