* {
    box-sizing: border-box;
  }

html {/* Index */
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    display: block;
    font-family: dm-sans,ui-sans-serif,verdana,system-ui;
    line-height: 1.5;
    tab-size: 4;
}

body{/* Vector 1*/ 
position: absolute;
width: 1413.5px;
height: 1003.5px;
left: 11px;
top: 5px;
}
/* Rectangle 34 header*/
header {
    display: inline-block;
    position: absolute;
    width: 968px;
    height: 157px;
    left: 7px;
    top: 3px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
}
 /* .logo */
#logo{
    width: 210px;
    height: 3rem;
    left: 5px;
    top:2px;
    justify-content: flex-start;
    position: absolute;
}  
/* Nos photographes */
h1 {
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    line-height: 1.75rem;
    width: 306px;
    height: 47px;
    position: absolute;
    font-family: DM Sans;
    left: 1033px;
    right:-22%;
    top: 5px;
    bottom: 0%;
    text-align: right;
    flex-grow: 1;
    order: 2;
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em; 
    font-size: 36px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
  }

p{
  text-align: center;
  flex-wrap: wrap;
}

#tags-nav{ /* Rectangle 246 */
    text-align: center;
    display: flex;
    justify-content:space-around;
    position: absolute;
    width: 553px;
    height: 49px;
    left: 388px;
    top: 3px;
    box-sizing: border-box;
    align-content: start;
    margin:10px;
    margin:0;
    }

.tag {/*.photographer_cathegories #Portrait #Art #Fashion #Architecture #Travel #Sport #Animals #Events buttons*/
    position: absolute;
    margin-right:.25rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(209,213,219,var(--tw-border-opacity));
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    transition-duration: .2s;
    color: #911C1C;
}
  .scroll{
      opacity: 0;
  }

a {
    color: inherit;
    text-decoration: inherit;
}/*
ul{
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-between;
    align-items: center;   
}
*/
li {
display: flex;
list-style: none;
padding: 0%;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
align-items:stretch;
}

img {
border-radius: 50%;
position: center;
height: 200px;
margin-left: auto;
margin-right: auto;
width: 200px;
}
/*
img, video {
    max-width: 100%;
    height: auto;
  }
 */ 
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
  }

main{
  box-sizing: border-box;
}
 /* Mimi Keel */
#MimiKeel{
position: absolute;
left: 10.5%;
right: 10%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}
/* London, UK */
h5 localisation1 localisation2 {
position: absolute;
left: 33.5%;
right: 33%;
top: 86.13%;
bottom: 8.39%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 17px;
/* identical to box height */
text-align: center;
color: #901C1C;
}

blockquote {/* Voir le beau dans le quotidien */
display: flex;
flex-wrap: nowrap;
position: relative;
width: 100%;
height: auto;
text-align: center;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
box-sizing: border-box;/* identical to box height */
color: #000000;
justify-content: space-around;
padding: 5px;
}

/* prix€/jour */
price{
display: flex;
flex-wrap: nowrap;
position: relative;
width: 100%;
height: auto;
position: relative;
height: auto;
text-align: center;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */
text-align: center;
color: #757575;
justify-content: space-around;
}


/* Rectangle 245 tagboxs individuels de la carte*/
tagList{
position: absolute;
width: 263px;
height: 30px;
left: 72px;
top: 518px;
border: 2px solid #95FFF9;
box-sizing: border-box;
}

tagsboxtag{ /* Rectangle 256 tags individuel de la carte*/
position: absolute;
width: 53px;
height: 21px;
left: 205px;
top: 523px;
border: 0.5px solid #C4C4C4;
box-sizing: border-box;
border-radius: 11px;
}

h2{
  line-height: 1.375;
  text-align: center;
  color:#911C1C;
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(211,87,60,var(--tw-text-opacity));
}

h2, h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h5{
  color: #911C1C;
}
/* Ellie-Rose Wilkens */
#Ellie-RoseWilkens{
position: absolute;
left: -25%;
right: -25.5%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}
/* Tracy Galindo */
#TracyGalindo{
position: absolute;
left: -7%;
right: -7.5%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}

#NabeelBradford{
position: absolute;
left: -17.5%;
right: -17.5%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}
/* Rhode Dubois */
#RhodeDubois{
position: absolute;
left: -8%;
right: -8.5%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}
/* Marcel Nikolic */
#MarcelNikolic{
position: absolute;
left: -7.5%;
right: -7.5%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}

article{
  width: 33%;
  text-align: center;
  padding: 1%;
  height: auto;
  justify-content: center;
}

div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}