* {
    box-sizing: border-box;
  }

html {/* Index */
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #FFFFFF;
    display: block;
    font-family: dm-sans,ui-sans-serif,verdana,system-ui;
    line-height: 1.5;
    tab-size: 4;
}

body{/* Vector 1*/ 
position: absolute;
width: 1413.5px;
height: 1003.5px;
left: 11px;
top: 5px;
}
/* Rectangle 34 header*/
header {
    display: flex;
    position: absolute;
    width: 968px;
    height: 157px;
    left: 7px;
    top: 3px;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    
}
 /* .logo */
#logo{
    width: 210px;
    height: 3rem;
    left: 16px;
    top:2px;
    justify-content: flex-start;
}
    
/* Nos photographes */
h1 aside{
    text-align: right;   
    position: absolute;
    width: 316px;
    height: 47px;
    left: 1033px;
    top: -10px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #911C1C;
    }
    /* Group h1*/
h1{
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    line-height: 1.75rem;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    text-align: right;
    flex-grow: 1;
    order: 2;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;  
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
  }
p{
  text-align: center;
  flex-wrap: wrap;
}

#tags-nav{ /* Rectangle 246 */
    display: flex;
    justify-content:space-between;
    position: absolute;
    width: 553px;
    height: 49px;
    left: 388px;
    top: 43px;
    box-sizing: border-box;
    align-content: start;
    padding:0;
    margin:0;
    }

  .tag {/*.photographer_cathegories #Portrait #Art #Fashion #Architecture #Travel #Sport #Animals #Events buttons*/
    position: absolute;
    margin-right:.25rem;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(209,213,219,var(--tw-border-opacity));
    padding-left: .5rem;
    padding-right: .5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
    --tw-text-opacity: 1;
    color: rgba(144,28,28,var(--tw-text-opacity));
    transition-duration: .2s;
    color: #911C1C;
  }
  .scroll{
      opacity: 0;
  }

a {
    color: inherit;
    text-decoration: inherit;
}/*
ul{
    display: flex;
    margin:0;
    padding:0;
    justify-content: space-between;
    align-items: center;
    
}
*/
li{
display: flex;
list-style: none;
padding: 0%;
flex-wrap: wrap;
width: 100%;
justify-content: space-between;
align-items:stretch;
}

img {
    border-radius: 50%;
  }

img, video {
    max-width: 100%;
    height: auto;
  }
  
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
  }
main{
  box-sizing: border-box;
}

 /* Mimi Keel */
#MimiKeel{
position: absolute;
left: 10.5%;
right: 10%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}

h2{
  line-height: 1.375;
  text-align: center;
  color:#911C1C;
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(211,87,60,var(--tw-text-opacity));
}

h2, h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Ellie-Rose Wilkens */
#Ellie-RoseWilkens{
position: absolute;
left: -25%;
right: -25.5%;
top: 70.97%;
bottom: 13.87%;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;

color: #D3573C;
}
/* Tracy Galindo */
#TracyGalindo{
position: absolute;
left: -7%;
right: -7.5%;
top: 70.97%;
bottom: 13.87%;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;

color: #D3573C;
}

#NabeelBradford{
position: absolute;
left: -17.5%;
right: -17.5%;
top: 70.97%;
bottom: 13.87%;
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;
color: #D3573C;
}
/* Rhode Dubois */
#RhodeDubois{
position: absolute;
left: -8%;
right: -8.5%;
top: 70.97%;
bottom: 13.87%;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;

color: #D3573C;
}
/* Marcel Nikolic */
#MarcelNikolic{
position: absolute;
left: -7.5%;
right: -7.5%;
top: 70.97%;
bottom: 13.87%;

font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 47px;
/* identical to box height */
text-align: center;

color: #D3573C;
}

article{
  max-width: 32%;
  max-height: 30%;
}